In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Ace Superstore Retail Dataset.xlsx")

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df.head()

,Order ID,Order Date,Order Mode,Customer ID,City,Postal Code,City (Cleaned),Country,Country (Cleaned),Region,Region (Cleaned),Product ID,Product Name,Category,Sub-Category,Sales,Cost Price,Quantity,Discount,Discounted Price,Total Sales (Excl Discount),Total Sales (Incl Discount),Cost Price.1,Total Revenue,Profit Margin
0,YQH-596426,2023-01-01,In-Store,ET028434,Walton,CV35,Walton,NaN,England,South West,West Midlands,01JZ3NC8PVSQJW2J8B75RKHRSK,Frozen Mixed Vegetables,Food - Frozen,Frozen Vegetables,1.14,0.097,10,0.39,0.6954,11.40,6.9540,0.970,5.9840,0.860512
1,JDP-252284,2023-01-01,Online,QE049300,Ford,GL54,Ford,England,England,West Midlands,South West,01JZ3NCF2BEE914G4J9TPM5JTG,Carrot Sticks,Food - Produce,Vegetable Snacks,1.74,0.497,3,0.01,1.7226,5.22,5.1678,1.491,3.6768,0.711483
2,AWH-860131,2023-01-01,In-Store,PN010412,Birmingham,B40,Birmingham,England,England,South West,West Midlands,01JZ3N55JX79NVSRWTH1ACVZ43,Chickpea Flour,Food - Baking,Flours & Meals,2.29,0.437,4,0.08,2.1068,9.16,8.4272,1.748,6.6792,0.792576
3,HDF-411861,2023-01-01,Online,VN032443,Wootton,NN4,Wootton,England,England,East Midlands,East Midlands,01JZ3NCC6RCGFZ9A3K2ZBBZ4AF,Black Bean & Corn Salad,Food - Salads,Vegetarian Salads,3.14,0.697,1,0.38,1.9468,3.14,1.9468,0.697,1.2498,0.641977
4,LPZ-134124,2023-01-01,Online,GU050689,Twyford,LE14,Twyford,England,England,North West,East Midlands,01JZ3NR27C8P42VRMSEJHF8Q4P,Weighted Jump Rope with Counter,Fitness,Cardio Equipment,14.24,5.746,7,0.02,13.9552,99.68,97.6864,40.222,57.4644,0.588254

In [9]:
#Looking for sample data where Category Name is missing
df[df['Sub-Category'].str.contains('Cheese', case=False, na=False)]

,Order ID,Order Date,Order Mode,Customer ID,City,Postal Code,City (Cleaned),Country,Country (Cleaned),Region,Region (Cleaned),Product ID,Product Name,Category,Sub-Category,Sales,Cost Price,Quantity,Discount,Discounted Price,Total Sales (Excl Discount),Total Sales (Incl Discount),Cost Price.1,Total Revenue,Profit Margin
13,OQM-482402,2023-01-02,In-Store,EC090021,Kingston,DT10,Kingston,England,England,East Midlands,South West,01JZ3N57YZDBW1KWS6SQSCFAEJ,Garlic and Herb Cream Cheese,Food - Dairy,Cheese Spreads,2.64,0.547,1,0.10,2.3760,2.64,2.3760,0.547,1.8290,0.769781
268,GNM-347400,2023-01-24,In-Store,UF016951,Glasgow,G4,Glasgow,Scotland,Scotland,NaN,Scotland,01JZ3NSWA8BWVV9TH7NECS08N9,Smoked Gouda Cheese,Food - Dairy,Cheese,4.64,1.696,7,0.11,4.1296,32.48,28.9072,11.872,17.0352,0.589306
276,TAQ-183551,2023-01-25,Online,EC090021,Dean,OX7,Dean,England,England,East Midlands,South East,01JZ3N57YZDBW1KWS6SQSCFAEJ,Garlic and Herb Cream Cheese,Food - Dairy,Cheese Spreads,2.64,0.547,7,NaN,2.6400,18.48,18.4800,3.829,14.6510,0.792803
316,YCZ-404663,2023-01-28,In-Store,PS061538,London,SW1E,London,England,England,Yorkshire and the Humber,London,01JZ3NR14V0B3HYMAA440CNMMA,Buffalo Stilton Cheese,Food - Cheese,Specialty Cheeses,8.14,3.096,5,0.38,5.0468,40.70,25.2340,15.480,9.7540,0.386542
326,ZVF-615886,2023-01-29,Online,ZW034737,Leeds,LS6,Leeds,England,England,West Midlands,Yorkshire & the Humber,01JZ3NSWA8BWVV9TH7NECS08N9,Smoked Gouda Cheese,Food - Dairy,Cheese,4.74,1.946,12,0.02,4.6452,56.88,55.7424,23.352,32.3904,0.581073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10689,KQH-737914,2025-03-11,Online,HQ099406,Sheffield,S33,Hope Valley,England,England,East of England,East Midlands,01JZ3NTKNCPWRCBXFGTNBRXZVT,Garlic Herb Cream Cheese,Food - Dairy,Cheese Spreads,4.41,2.196,7,0.02,4.3218,30.87,30.2526,15.372,14.8806,0.491878
10745,MOG-661896,2025-03-15,In-Store,BI003171,Newtown,RG20,Newtown,England,England,South West,South East,01JZ3N5D5N9HG7XBBS1S0X2SYQ,Low-Fat Cottage Cheese,Food - Dairy,Cottage Cheese,2.99,0.897,17,0.34,1.9734,50.83,33.5478,15.249,18.2988,0.545455
10810,WHB-671439,2025-03-20,In-Store,PK032320,London,WC2H,London,England,England,Yorkshire and the Humber,London,01JZ3NCCJ2DXYB1RWV8MNBEPFN,Sliced Cheese,Food - Dairy,Cheese,5.91,2.347,5,0.18,4.8462,29.55,24.2310,11.735,12.4960,0.515703
10908,UPU-358213,2025-03-27,In-Store,BS070916,Stapleford,LN6,Stapleford,England,England,NaN,East Midlands,01JZ3N5A69R87PE0PYKN5PP71P,Herbed Goat Cheese,Food - Cheese,Specialty Cheeses,5.49,1.647,10,0.10,4.9410,54.90,49.4100,16.470,32.9400,0.666667
10930,DJW-697603,2025-03-29,In-Store,HU076125,Sutton,CT15,Sutton,England,England,NaN,South East,01JZ3NR2P15R28B72D1DA82KZJ,Feta Cheese Crumbles,Food - Dairy,Cheese,3.91,1.996,15,NaN,3.9100,58.65,58.6500,29.940,28.7100,0.489514

In [11]:
# Creating Dictionary for mapping Sub-Category to Category
mapping_dict = df.dropna(subset=['Category']).drop_duplicates(subset=['Sub-Category']).set_index('Sub-Category')['Category'].to_dict()

In [13]:
# Fill missing Category values using Sub-Category to Category mapping
df['Category'] = df['Category'].fillna(df['Sub-Category'].map(mapping_dict))

In [15]:
df.head()

,Order ID,Order Date,Order Mode,Customer ID,City,Postal Code,City (Cleaned),Country,Country (Cleaned),Region,Region (Cleaned),Product ID,Product Name,Category,Sub-Category,Sales,Cost Price,Quantity,Discount,Discounted Price,Total Sales (Excl Discount),Total Sales (Incl Discount),Cost Price.1,Total Revenue,Profit Margin
0,YQH-596426,2023-01-01,In-Store,ET028434,Walton,CV35,Walton,NaN,England,South West,West Midlands,01JZ3NC8PVSQJW2J8B75RKHRSK,Frozen Mixed Vegetables,Food - Frozen,Frozen Vegetables,1.14,0.097,10,0.39,0.6954,11.40,6.9540,0.970,5.9840,0.860512
1,JDP-252284,2023-01-01,Online,QE049300,Ford,GL54,Ford,England,England,West Midlands,South West,01JZ3NCF2BEE914G4J9TPM5JTG,Carrot Sticks,Food - Produce,Vegetable Snacks,1.74,0.497,3,0.01,1.7226,5.22,5.1678,1.491,3.6768,0.711483
2,AWH-860131,2023-01-01,In-Store,PN010412,Birmingham,B40,Birmingham,England,England,South West,West Midlands,01JZ3N55JX79NVSRWTH1ACVZ43,Chickpea Flour,Food - Baking,Flours & Meals,2.29,0.437,4,0.08,2.1068,9.16,8.4272,1.748,6.6792,0.792576
3,HDF-411861,2023-01-01,Online,VN032443,Wootton,NN4,Wootton,England,England,East Midlands,East Midlands,01JZ3NCC6RCGFZ9A3K2ZBBZ4AF,Black Bean & Corn Salad,Food - Salads,Vegetarian Salads,3.14,0.697,1,0.38,1.9468,3.14,1.9468,0.697,1.2498,0.641977
4,LPZ-134124,2023-01-01,Online,GU050689,Twyford,LE14,Twyford,England,England,North West,East Midlands,01JZ3NR27C8P42VRMSEJHF8Q4P,Weighted Jump Rope with Counter,Fitness,Cardio Equipment,14.24,5.746,7,0.02,13.9552,99.68,97.6864,40.222,57.4644,0.588254

In [23]:
# Looking for Null Values in Category
df['Category'].isnull().sum()

31

In [25]:
# Dropping all the null values for consistency
df = df.dropna(subset=['Category'])

In [27]:
df['Category'].isnull().sum()

0

In [31]:
# Exporting the cleaned data in a new spreadsheet
df.to_excel('Karunesh_Sehgal_Cleaned_dataset.xlsx', index=False)